#api-header {
    margin-bottom: 4%;
}

#api-header h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: sans-serif;
	font-weight: 100;
	color: #333;
	border-bottom: 1px dotted #ccc;
	text-align: right;
	display:none;
}

#api-header h2 {
	margin-top: 0;
	font-weight: 500;
	font-size: medium;
	color: #666;
	text-align: right;
}

.api-key-or-token {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.api-key-or-token tr {
}

.api-key-or-token td {
    padding: 20px;
    padding-left:20px;
}

.api-key-or-token select {
    font-size: 1.1em;
    padding: 5px;
}

.api-key-or-token input {
    font-size: 1.2em;
    font-weight:100;
    padding: 5px;
}

.api-key-or-token textarea {
    font-size: 1.1em;
    font-weight:100;
    padding: 10px;
}

.api-key-or-token tr td:first-child {
    font-weight: 700;
    background-color: #adadad;
    vertical-align:text-top;
}

.api-admin td {
    background-color: #fff !important;
    text-align:right;
}

.api-credential {
    font-weight: 700;
}    

.api-tos {
    font-size: 11px;
    text-align:left;
    max-height: 300px;
    max-width: 600px;
    overflow-y: scroll;
    padding-right: 40px;
    padding-left: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.api-delete {
    color: #ccc;
}

.api-delete:hover {
    color: red !important;
}

.api-permissions-glossary {
    margin: 0px;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.api-permissions-glossary li {
    line-height: 1.75em;
}

.api-permissions-glossary p {
    font-style: italic;
    margin-left: 8%;
}

.api-example-response {
    max-height: 600px;
    overflow:scroll !important;
    x-overflow:none;
}

.api-list-o-things {
    margin-bottom: 1em;
}

.api-list-o-things li {
    line-height: 1.4em !important;
    margin-bottom: .5em;
    color: #333;
}

.api-sect {
    margin-bottom: 2em;
}

.api-sect h2 {
    margin-bottom: .75em;
}

.api-required {
    font-weight: 700;
    color:red;
}

.api-required:before {
    content: "[ ";
}

.api-required:after {
    content: " ]";
}

.api-caveat {
    font-size: small;
}
