.main {
    font-size: 16pt;
    line-height:1.4em;
    margin:5%;
    margin-left:8%;
    margin-right: 8%;
}

.about h2 {
    margin-top:2em;
    margin-bottom:.6em;
}

.about p {
    margin-bottom: 1em;
    line-height:1.5em;
}

.about blockquote {
    font-family:serif;
    margin-left:5%;
    margin-right:10%;
    margin-top:1em;
    margin-bottom:2em;
}

.about blockquote p {
    font-size:1.2em;
    line-height:1.3em;
    font-style:italic;
    margin-bottom:.6em;
}

.about ul {
    margin-left:10%;
    margin-right:5%;
    font-weight:600;
    margin-top:1.5em;
    margin-bottom: 1.5em;
}

.about ul li {
    margin-bottom: 1em;
    line-height: 1.3em;
}

.about pre {
    margin: 2em;
    margin-left:10%;
    margin-right:10%;
}

.home-logged-out {
    text-align:center;
}

.home-logged-out p {
    margin-top:2em;
    max-width:800px;
    margin-right:auto;
    margin-left:auto;
}

optgroup {
    border-top: solid thin;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container-wtf {
    margin:3em !important;
    padding: 0 !important;
}

#status {
    margin:0px;
    padding:0px;
}

#status li {
    list-style-type:none;
    color: #666;
    line-height:1.6em;
}

#status li:first-child {
	font-weight: 700;
	color: #000;
}

#main {
    margin:3em;
}

#map-coords {
    font-size: small !important;
}

.main th {
    font-size:12pt;
}

#map-container {
    position: relative;
}

#map {
    width: 100%;
    height: 400px;
    border: solid thin;
}

#map-feedback {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    color: #000;
    padding: 1em;
    padding-left: 0px !important;
    font-weight: 700;
    font-size: small;
    border-top: solid thin;
    border-right: solid thin;
    display:none;
}

#getlatlon-geocode {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color:white;
    color: #000;
    padding: 1em;
    padding-bottom: none;
    padding-left: 0px !important;
    border-top: solid thin;
    border-right: solid thin;
    display:block;
}

#getlatlon-geocode form {
    margin:0;
    padding:0;
}

#choices {

}

#assertion-select {
    width: 100%;
    margin-top: 2em;
}

#assertion-details {
    width: 100%;
    margin-top: 2em;
}

#assertion-details th {
    text-align: left;
    padding-bottom:.5em;
}

#assertion-details td {
    padding-top:1em;
    font-size:small;
}

.error q {
    font-weight: 700;
}

#getlatlon-details {
    text-align:center;
}

#getlatlon-details .pointer {
    font-size: 1.5em;
}

#getlatlon-crosshairs {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAxCAYAAABznEEcAAAABmJLR0QA/wAAAAAzJ3zzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAd0lEQVRo3u3YsRGEMAwEQOmH/lsWwQNDAZyivcjZeW2NA3cFMzNzr7u7Uz2/Sie390XEQiAgICAgICAgICAgICAgIL5Jv79VMg1dFa44nqI0JJWZC5E8qYWbiGb+szrpkfU6QUBAQEBAQEBAQEBAQEBALCIWvmtOU3IcVWc1XpUAAAAASUVORK5CYII=");
    height: 49px;
    width: 49px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
}

#map-decide-crosshairs {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAxCAYAAABznEEcAAAABmJLR0QA/wAAAAAzJ3zzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAd0lEQVRo3u3YsRGEMAwEQOmH/lsWwQNDAZyivcjZeW2NA3cFMzNzr7u7Uz2/Sie390XEQiAgICAgICAgICAgICAgIL5Jv79VMg1dFa44nqI0JJWZC5E8qYWbiGb+szrpkfU6QUBAQEBAQEBAQEBAQEBALCIWvmtOU3IcVWc1XpUAAAAASUVORK5CYII=");
    height: 49px;
    width: 49px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
}

#map-decide-coords {
    text-align:right;
    font-size:11px;
}

.error {
    margin-top:1em;
    font-size:2em;
    line-height: 1.3em;
    margin-top:.5em;
    margin-bottom: 1em;
    color:red;
}

.confirm {
    margin-top:1em;
    font-size:2em;
    line-height: 1.3em;
    margin-top:.5em;
    margin-bottom: 1em;
    color:green;
}

#assertions-filter-menu {
    font-size:11px;
    text-align:right;
}

#delete-me {
}

#delete-me input[type=checkbox] {
    font-size:3em;
}

#filter-by {
    display: inline;
    margin:0px;
    padding: 0px;
}

#filter-by li {
    display: inline;
}

#filter-by li:before {
    content: " or ";
}

#filter-by li:first-child:before {
    content: "";
}

#filter-by li:last-child:before {
    content: " or just ";
}

.caveat {
    font-style: italic;
}

footer {
    font-size:small;
    text-align: right;
}

#colophon  {
    margin:0px;
    padding:0px;
}

#colophon li {
    list-style-type:none;
    line-height:1.4em;
    margin-bottom: .5em;
}
