#status li {
    list-style-type:none;
    font-weight: 100;
    color: #666;
    line-height:2em;
}

#status li:first-child {
	font-weight: 700;
	color: #000;
}

#main {
    margin:3em;
}

#map {
    width: 100%;
    height: 400px;
}

#choices {

}