#main {
    margin: 1em !important;
}

#map {
    height: 150px !important;
}

.correction-select {
    display: block !important;
    font-weight: 700 !important;
}

.correction-select-text {
    display: block !important;
    padding-bottom: 1em !important;
}

#correction-select-submit {
    margin-top: 1em !important;
    display:block !important;
}

#map-decide-crosshairs {
    display:none !important;
}

#map-decide-coords {
    display:none !important;
}